{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-5 text-center">
        <h1 class="display-3 fw-bold text-success mb-0">{{ ranking.nombreRanking|upper }}</h1>
        <p class="text-muted mb-5">Creado por {{ app.user.username }}</p>

        <div class="row justify-content-center">
            <div class="col-md-6">
                {% for re in ranking.rankingElementos|sort((a, b) => a.posicion <=> b.posicion) %}
                    <div class="d-flex align-items-center bg-dark p-3 mb-3 rounded-pill border border-{{ loop.index == 1 ? 'warning' : 'success' }} shadow">
                        <div class="fs-1 fw-bold px-4 text-{{ loop.index == 1 ? 'warning' : 'white' }}">
                            {{ loop.index }}
                        </div>
                        <img src="{{ re.elemento.imagenUrl }}" width="60" height="60" class="rounded-circle border border-2 border-success">
                        <div class="ms-4 text-start">
                            <h4 class="mb-0 text-white">{{ re.elemento.nombre }}</h4>
                            <small class="text-muted">{{ re.elemento.categoria.nombre }}</small>
                        </div>
                        {% if loop.index == 1 %}{% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <a href="{{ path('app_ranking_personal') }}" class="btn btn-outline-light mt-5">Volver a mis estadísticas</a>
    </div>
{% endblock %}
